 @font-face {
   font-family: mentra;
   src: url(/fonts/MENTRA.otf);
 }
 @font-face {
   font-family: beckan;
   src: url(/fonts/Beckan.otf);
 }
 @font-face {
   font-family: gill sans;
   src: url(/fonts/GillSans.otf);
 }
 @font-face {
   font-family: gill roy;
   src: url(/fonts/Gilroy-Black.ttf);
 }
 @font-face {
   font-family: heavitas;
   src: url(/fonts/Heavitas.ttf);
 }
 @font-face {
   font-family: pearce;
   src: url(/fonts/Pearce.ttf);
 }
 
*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
    font-family:gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #191A19;
    /* color: #D8E9A8; */
    /* color: #EAE1E1; */
    color: #EEE4B1;
}

#first-page , #second-page , #third-page, #forth-page{
    height: 100%;
    width: 100%;
}

/* First page */

#first-page{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: center;
    gap: 2rem;
}

#hero h1{
    font-size: 7rem;
    font-family:mentra;
    letter-spacing: .2rem;
}

#desc {
    font-size: 1.4rem;
    color: #EAE1E1;
}

#start-btn input{
    padding: .5rem 5rem;
    background-color: #EEE4B1;
    border: none;
    font-size: .8rem;
    font-family: pearce;
    text-transform: uppercase;
}

#start-btn input:hover{
    background-color: #191A19;
    color: #EEE4B1;
    transition: .4s;
}

/* Second Page */

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 1.5rem;
}

.form-container form #username , .form-container form #book , .form-container form button , .form-container form #note {
    grid-column: span 2;
}

.form-container form input , .form-container form button {
    font-family: gill roy;
    font-size: 1rem;
    padding-left: 1rem;
    height: 4rem;
    justify-content: center;
}


.form-container form #note{
    height: 7rem;
}
.form-container form ::placeholder{
    text-align: center;
}


.form-container form button{
    padding: .5rem 5rem;
    background-color: #EEE4B1;
    border: none;
    font-size: .8rem;
    font-family: pearce;
    text-transform: uppercase;
}

.form-container form button:hover{
    background-color: #191A19;
    color: #EEE4B1;
    transition: .4s;
}

/* Third page */

#third-page {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 5rem;
}

#sort-btn {
    display: flex;
}

#sort-btn button {
    padding: .5rem 5rem;
    border: none;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: #EEE4B1;
    font-family: pearce;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sort-btn button::after {
    content: '';
    display: block;
    width: 1rem; 
    height: 1rem;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg>') no-repeat center;
    background-color: currentColor;
    margin-top: -.2rem;
}

#sort-btn button:hover{
    background-color: #b8b08b;
    transition: 0.6s;
}

#post-container{
    display: flex;
    gap: 2rem;
    margin: 3rem 3rem;
    width: 80%;
}


#post-content{
    display: flex;  
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}


#post-title h1{
    font-size: 3rem;
    border-bottom: 2px solid;
    text-transform: capitalize;
}

#post-content p{
    font-size: 1.2rem;
    text-align: justify;
    color: #EAE1E1;
}

#post-content h5{
    font-size: 1rem;
    text-transform: uppercase;
}


#post-buttons{
    display: flex;
    gap: 1rem;
}

#post-buttons input{
    padding: .5rem 5rem;
    background-color: #EEE4B1;
    border: none;
    font-size: .8rem;
    font-family: pearce;
    text-transform: uppercase;
}

#post-buttons input:hover{
    background-color: #191A19;
    color: #EEE4B1;
    transition: .4s;
}
